# Kaggle: careervillage.org challenge
2019.03.14
<img src="Screen Shot 2019-03-15 at 7.18.29 PM.png">

## Step 1. EDA

In [5]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
print(os.listdir("../Kaggle"))

['groups.csv', 'professionals.csv', 'tag_questions.csv', 'emails.csv', 'answers.csv', 'group_memberships.csv', 'tag_users.csv', 'Untitled.ipynb', 'matches.csv', 'tags.csv', 'comments.csv', 'questions.csv', '.ipynb_checkpoints', 'school_memberships.csv', 'students.csv']

In [28]:
questions = pd.read_csv("questions.csv")
print("Num questions: ", len(questions))
questions.head()

Num questions:  23931

,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...
1,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,2016-05-20 16:48:25 UTC+0000,I want to become an army officer. What can I d...,I am Priyanka from Bangalore . Now am in 10th ...
2,4ec31632938a40b98909416bdd0decff,f2c179a563024ccc927399ce529094b5,2017-02-08 19:13:38 UTC+0000,Will going abroad for your first job increase ...,I'm planning on going abroad for my first job....
3,2f6a9a99d9b24e5baa50d40d0ba50a75,2c30ffba444e40eabb4583b55233a5a4,2017-09-01 14:05:32 UTC+0000,To become a specialist in business management...,i hear business management is a hard way to ge...
4,5af8880460c141dbb02971a1a8369529,aa9eb1a2ab184ebbb00dc01ab663428a,2017-09-01 02:36:54 UTC+0000,Are there any scholarships out there for stude...,I'm trying to find scholarships for first year...

In [29]:
tag_questions = pd.read_csv("tag_questions.csv")
print("Num questions unique tags: ", len(tag_questions.tag_questions_tag_id.unique()))
tag_questions.head()

Num questions unique tags:  7091

   tag_questions_tag_id         tag_questions_question_id
0                 28930  cb43ebee01364c68ac61d347a393ae39
1                 28930  47f55e85ce944242a5a347ab85a8ffb4
2                 28930  ccc30a033a0f4dfdb2eb987012f25792
3                 28930  e30b274e48d741f7bf50eb5e7171a3c0
4                 28930  3d22742052df4989b311b4195cbb0f1a

In [30]:
answers = pd.read_csv("answers.csv")
print("Num answers: ", len(answers.answers_id.unique()))
print("Num answer user: ", len(answers.answers_author_id.unique()))
print("answer's shape: ", answers.shape)
answers.head()

Num answers:  51123
Num answer user:  10169
answer's shape:  (51123, 5)

,answers_id,answers_author_id,answers_question_id,answers_date_added,answers_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...
1,ada720538c014e9b8a6dceed09385ee3,2aa47af241bf42a4b874c453f0381bd4,eb80205482e4424cad8f16bc25aa2d9c,2018-05-01 14:19:08 UTC+0000,<p>Hi. I joined the Army after I attended coll...
2,eaa66ef919bc408ab5296237440e323f,cbd8f30613a849bf918aed5c010340be,eb80205482e4424cad8f16bc25aa2d9c,2018-05-02 02:41:02 UTC+0000,"<p>Dear Priyanka,</p><p>Greetings! I have answ..."
3,1a6b3749d391486c9e371fbd1e605014,7e72a630c303442ba92ff00e8ea451df,4ec31632938a40b98909416bdd0decff,2017-05-10 19:00:47 UTC+0000,<p>I work for a global company who values high...
4,5229c514000446d582050f89ebd4e184,17802d94699140b0a0d2995f30c034c6,2f6a9a99d9b24e5baa50d40d0ba50a75,2017-10-13 22:07:33 UTC+0000,I agree with Denise. Every single job I've had...

In [13]:
students = pd.read_csv("students.csv")
print("Num students: ", len(students))
students.head()

Num students:  30971

,students_id,students_location,students_date_joined
0,12a89e96755a4dba83ff03e03043d9c0,NaN,2011-12-16 14:19:24 UTC+0000
1,e37a5990fe354c60be5e87376b08d5e3,NaN,2011-12-27 03:02:44 UTC+0000
2,12b402cceeda43dcb6e12ef9f2d221ea,NaN,2012-01-01 05:00:00 UTC+0000
3,a0f431fc79794edcb104f68ce55ab897,NaN,2012-01-01 05:00:00 UTC+0000
4,23aea4702d804bd88d1e9fb28074a1b4,NaN,2012-01-01 05:00:00 UTC+0000

In [31]:
tag_questions = tag_questions.rename(columns={'tag_questions_question_id': 'questions_id'})

## Step 2. Create Answer - Question Data Table

0. Question text id
1. Question Text (title, body, tag)
2. Question User id
3. Answer Yes/No
4. Answer Text (List)
5. Answer User id

In [38]:
questions_text = questions[["questions_id", "questions_title", "questions_body"]]
questions_text.set_index("questions_id", inplace=True)
questions_text.head()

,questions_title,questions_body
questions_id,,
332a511f1569444485cf7a7a556a5e54,Teacher career question,What is a maths teacher? what is a ma...
eb80205482e4424cad8f16bc25aa2d9c,I want to become an army officer. What can I d...,I am Priyanka from Bangalore . Now am in 10th ...
4ec31632938a40b98909416bdd0decff,Will going abroad for your first job increase ...,I'm planning on going abroad for my first job....
2f6a9a99d9b24e5baa50d40d0ba50a75,To become a specialist in business management...,i hear business management is a hard way to ge...
5af8880460c141dbb02971a1a8369529,Are there any scholarships out there for stude...,I'm trying to find scholarships for first year...

In [230]:
import re

def text_cleaner(text):
    text = str(text)
    text=text.split()
    words=[]
    for t in text:
        if "#" in t:
            t = t[1:]
        if t.isalpha():
            words.append(t)
    text=" ".join(words)
    text=text.lower()
    text=re.sub(r"what's","what is ",text)
    text=re.sub(r"it's","it is ",text)
    text=re.sub(r"\'ve"," have ",text)
    text=re.sub(r"i'm","i am ",text)
    text=re.sub(r"\'re"," are ",text)
    text=re.sub(r"n't"," not ",text)
    text=re.sub(r"\'d"," would ",text)
    text=re.sub(r"\'s","s",text)
    text=re.sub(r"\'ll"," will ",text)
    text=re.sub(r"can't"," cannot ",text)
    text=re.sub(r" e g "," eg ",text)
    text=re.sub(r"e-mail","email",text)
    text=re.sub(r"9\\/11"," 911 ",text)
    text=re.sub(r" u.s"," american ",text)
    text=re.sub(r" u.n"," united nations ",text)
    text=re.sub(r"\n"," ",text)
    text=re.sub(r":"," ",text)
    text=re.sub(r"-"," ",text)
    text=re.sub(r"\_"," ",text)
    text=re.sub(r"\d+"," ",text)
    text=re.sub(r"[$@#%&*!~?%{}()]"," ",text)
    
    return text

In [55]:
texts_list = []
for row in questions_text.itertuples():
    text = row[1] + "\n" + row[2]
    cleaned_text = cleantext(text)
    texts_list.append(cleaned_text)
print(len(questions_text), len(texts_list))

23931 23931

In [57]:
texts_list[5]

'how many years of coege do you need to be an engineer to be an engineer'

In [58]:
test_query = "i wanna be a data scientist from newbe what should i do"

In [60]:
questions_text["questions_text"] = texts_list
questions_text.drop(["questions_title", "questions_body"], axis=1, inplace=True)

/Users/akr712/.pyenv/versions/jupyter3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/akr712/.pyenv/versions/jupyter3/lib/python3.5/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [61]:
questions_text.head()

                                                                     questions_text
questions_id
332a511f1569444485cf7a7a556a5e54  teacher career question what is a maths what i...
eb80205482e4424cad8f16bc25aa2d9c  i want to become an army what can i do to beco...
4ec31632938a40b98909416bdd0decff  will going abroad for your first job increase ...
2f6a9a99d9b24e5baa50d40d0ba50a75  to become a specialist in business will i have...
5af8880460c141dbb02971a1a8369529  are there any scholarships out there for stude...

In [77]:
question_table = pd.merge(questions[["questions_id", "questions_author_id"]], answers[["answers_id","answered_user_id", "questions_id", "answers_body"]], on="questions_id")

In [78]:
question_table = question_table.merge(questions_text, on="questions_id")
question_table.head()

,questions_id,questions_author_id,answers_id,answered_user_id,answers_body,questions_text
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,<p>Hi!</p>\n<p>You are asking a very interesti...,teacher career question what is a maths what i...
1,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,ada720538c014e9b8a6dceed09385ee3,2aa47af241bf42a4b874c453f0381bd4,<p>Hi. I joined the Army after I attended coll...,i want to become an army what can i do to beco...
2,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,eaa66ef919bc408ab5296237440e323f,cbd8f30613a849bf918aed5c010340be,"<p>Dear Priyanka,</p><p>Greetings! I have answ...",i want to become an army what can i do to beco...
3,4ec31632938a40b98909416bdd0decff,f2c179a563024ccc927399ce529094b5,1a6b3749d391486c9e371fbd1e605014,7e72a630c303442ba92ff00e8ea451df,<p>I work for a global company who values high...,will going abroad for your first job increase ...
4,2f6a9a99d9b24e5baa50d40d0ba50a75,2c30ffba444e40eabb4583b55233a5a4,5229c514000446d582050f89ebd4e184,17802d94699140b0a0d2995f30c034c6,I agree with Denise. Every single job I've had...,to become a specialist in business will i have...

In [88]:
len(question_table)

51122

In [86]:
# 欠損地処理
question_table.isnull().sum()

questions_id           0
questions_author_id    0
answers_id             0
answered_user_id       0
answers_body           1
questions_text         0
dtype: int64

In [87]:
question_table = question_table[question_table.answers_body.isnull()==False]
question_table.isnull().sum()

questions_id           0
questions_author_id    0
answers_id             0
answered_user_id       0
answers_body           0
questions_text         0
dtype: int64

In [75]:
len(answers)

51123

In [74]:
len(answers.answers_id.unique())

51123

In [76]:
len(answers.questions_id.unique())

23110

In [ ]:

for row in answers.itertuples():

In [66]:
answers = answers.rename(columns={'answers_author_id': 'answered_user_id', "answers_question_id":"questions_id"})
answers.head(1)

,answers_id,answered_user_id,questions_id,answers_date_added,answers_body
0,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,332a511f1569444485cf7a7a556a5e54,2016-04-29 19:40:14 UTC+0000,<p>Hi!</p>\n<p>You are asking a very interesti...

In [139]:
questions.head(1)

,questions_id,questions_author_id,questions_date_added,questions_title,questions_body
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,2016-04-26 11:14:26 UTC+0000,Teacher career question,What is a maths teacher? what is a ma...

In [140]:
questions = questions.rename(columns={"questions_author_id":"questions_user_id"})
questions.columns

Index(['questions_id', 'questions_user_id', 'questions_date_added',
       'questions_title', 'questions_body'],
      dtype='object')

In [91]:
from gensim.models import doc2vec
import gensim
import json
import nltk
nltk.download('stopwords')
import sys

STOP_WORDS = nltk.corpus.stopwords.words()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/akr712/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [132]:
from gensim.models.doc2vec import TaggedDocument

sentences = []
for i, text in enumerate(question_table.questions_text):
    words = text.split()
    sentence = TaggedDocument(words=words, tags=[str(i)])
    sentences.append(sentence)

In [133]:
sentences[0]

TaggedDocument(words=['teacher', 'career', 'question', 'what', 'is', 'a', 'maths', 'what', 'is', 'a', 'maths', 'teacher', 'college', 'professor', 'lecture'], tags=['0'])

In [134]:
len(sentences)

51122

In [135]:
my_doc2vec = doc2vec.Doc2Vec(sentences, dm=0, size=300, window=15, alpha=.025, min_alpha=.025, min_count=1, sample=1e-6)

In [229]:
my_doc2vec.save('my_doc2vec.model')
my_doc2vec = doc2vec.Doc2Vec.load('my_doc2vec.model')

## Step 3. "Will Answerer Reply?": Create Answerer Rank Data Table
0. Answer text id
1. Answer Text
2. Answer User id
3. Comment Yes/No
4. Comment Text (List)
5. Positive/Negative

In [151]:
num_answers = answers['answered_user_id'].value_counts()
index = answers['answered_user_id'].value_counts().index

In [152]:
num_answers[1]

1112

In [153]:
index[1]

'58fa5e95fe9e480a9349bbb1d7faaddb'

In [157]:
active_answerer = pd.Series(num_answers, index=index, )
active_answerer.head()

36ff3b3666df400f956f8335cf53e09e    1710
58fa5e95fe9e480a9349bbb1d7faaddb    1112
a1006e6a58a0447592e2435caa230f78     915
be5d23056fcb4f1287c823beec5291e1     711
05ab77d4c6a141b999044ebbf5415b0d     616
Name: answered_user_id, dtype: int64

In [158]:
active_answerer.describe()

count    10169.000000
mean         5.027338
std         26.338739
min          1.000000
25%          1.000000
50%          2.000000
75%          4.000000
max       1710.000000
Name: answered_user_id, dtype: float64

In [161]:
len(active_answerer[active_answerer >= 100])

23

In [181]:
len(active_answerer)

20338

In [178]:
num_answers[:5]

36ff3b3666df400f956f8335cf53e09e    1710
58fa5e95fe9e480a9349bbb1d7faaddb    1112
a1006e6a58a0447592e2435caa230f78     915
be5d23056fcb4f1287c823beec5291e1     711
05ab77d4c6a141b999044ebbf5415b0d     616
Name: answered_user_id, dtype: int64

In [182]:
len(num_answers)

10169

In [179]:
counter = 0
idx = []
answerer_freqency = []
for freq in num_answers:
    if freq == 1:
        label = 0
        answerer_freqency.append(label)
        idx.append(counter)
        counter += 1
    elif freq == 2:
        label = 1
        answerer_freqency.append(label)
        idx.append(counter)
        counter += 1
    elif 4 >= freq >2 :
        label = 2
        answerer_freqency.append(label)
        idx.append(counter)
        counter += 1
    elif 100 > freq >4 :
        label = 3
        answerer_freqency.append(label)
        idx.append(counter)
        counter += 1
    elif freq >= 100 :
        label = 4
        answerer_freqency.append(label)
        idx.append(counter)
        counter += 1
    else:
        print("error")
        break

len(answerer_freqency) == len(idx)

True

In [180]:
len(answerer_freqency)

10169

In [ ]:
query = "Who are the most famous and influential people in data science, ML and AI right now to follow and to learn from?"

def answerer_recommender(query, ):

In [186]:
df = pd.DataFrame({"answered_user_id": index, 
                   "frequency" : num_answers, 
                   "class" : answerer_freqency})

In [192]:
active_user = answers[["answered_user_id", "answers_date_added"]]
active_user.head()

                   answered_user_id            answers_date_added
0  36ff3b3666df400f956f8335cf53e09e  2016-04-29 19:40:14 UTC+0000
1  2aa47af241bf42a4b874c453f0381bd4  2018-05-01 14:19:08 UTC+0000
2  cbd8f30613a849bf918aed5c010340be  2018-05-02 02:41:02 UTC+0000
3  7e72a630c303442ba92ff00e8ea451df  2017-05-10 19:00:47 UTC+0000
4  17802d94699140b0a0d2995f30c034c6  2017-10-13 22:07:33 UTC+0000

In [193]:
active_user.answers_date_added[0]

'2016-04-29 19:40:14 UTC+0000'

In [194]:
active_user.answers_date_added = active_user.answers_date_added.apply(lambda x: x[:10])
active_user.head()

/Users/akr712/.pyenv/versions/jupyter3/lib/python3.5/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

                   answered_user_id answers_date_added
0  36ff3b3666df400f956f8335cf53e09e         2016-04-29
1  2aa47af241bf42a4b874c453f0381bd4         2018-05-01
2  cbd8f30613a849bf918aed5c010340be         2018-05-02
3  7e72a630c303442ba92ff00e8ea451df         2017-05-10
4  17802d94699140b0a0d2995f30c034c6         2017-10-13

In [195]:
len(active_user)

51123

In [ ]:
from datetime import datetime

active_user.answers_date_added = active_user.answers_date_added.apply(lambda date: datetime.strptime(date, '%Y-%m-%d'))

In [201]:
active_user.answers_date_added.dtypes

dtype('<M8[ns]')

In [204]:
active_user.sort_values("answers_date_added", ascending=False, inplace=True)

/Users/akr712/.pyenv/versions/jupyter3/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [206]:
active_user.head()

                       answered_user_id answers_date_added
31773  cb7b135761dd458c97a9f969c7b617a8         2019-01-31
5883   e28c31d11b6d44d2a3f22d48090ae212         2019-01-31
36050  b98b41ba6d6c49fb864206d2135d0a72         2019-01-31
36245  3eeb221111fa4b969ea25a0856026551         2019-01-31
39536  9baaedbff57645bf8ec91572c9f71868         2019-01-31

In [215]:
criteria = datetime.strptime("2018-11-01", '%Y-%m-%d')

active_user_list = []
for row in active_user.itertuples():
    if row[2] >= criteria:
        active_user_list.append(row[1])

active_user_list = list(set(active_user_list))
len(active_user_list)

1060

In [217]:
active_user_list[:5]

['d9bd529d46a64a6591222d4db212351e',
 'a756259dd0204dc788c076590b319ae9',
 '7d4f7364f8d54f1892090ac24609af1f',
 'c47b6884406e47858e87ed90153ff6b1',
 '41b3984603ec43bdba6404c675800889']

In [220]:
answerer.head()

                   answered_user_id  class  frequency
0  36ff3b3666df400f956f8335cf53e09e      4       1710
1  58fa5e95fe9e480a9349bbb1d7faaddb      4       1112
2  a1006e6a58a0447592e2435caa230f78      4        915
3  be5d23056fcb4f1287c823beec5291e1      4        711
4  05ab77d4c6a141b999044ebbf5415b0d      4        616

In [221]:
def active_labeler(user_id):
    if user_id in active_user_list:
        label = 1
    else:
        label = 0
    return label

In [224]:
answerer["active"] = answerer.answered_user_id.apply(lambda x: active_labeler(x))

In [225]:
answerer.head()

                   answered_user_id  class  frequency  active
0  36ff3b3666df400f956f8335cf53e09e      4       1710       0
1  58fa5e95fe9e480a9349bbb1d7faaddb      4       1112       1
2  a1006e6a58a0447592e2435caa230f78      4        915       0
3  be5d23056fcb4f1287c823beec5291e1      4        711       1
4  05ab77d4c6a141b999044ebbf5415b0d      4        616       0

In [227]:
import matplotlib as mpl
import matplotlib.pyplot as plt

answerer["frequency"].plot.bar()

%matplotlib inline

### Answerer Score:
1. frequency class: 0-4 (5 classes)
2. active user: 0 or 1 (binary classes) *criteria is in 3 month from 2019-01-31

## Step 4. Inference Model
- A: Similarity of new query with past query by using Doc2Vec & Cosine similarity
- List up Top 500 Answerer by A score
- B: frequency class: 0-4 
- C: active user: 0 or 1

In [231]:
question_table.head()

,questions_id,questions_author_id,answers_id,answered_user_id,answers_body,questions_text
0,332a511f1569444485cf7a7a556a5e54,8f6f374ffd834d258ab69d376dd998f5,4e5f01128cae4f6d8fd697cec5dca60c,36ff3b3666df400f956f8335cf53e09e,<p>Hi!</p>\n<p>You are asking a very interesti...,teacher career question what is a maths what i...
1,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,ada720538c014e9b8a6dceed09385ee3,2aa47af241bf42a4b874c453f0381bd4,<p>Hi. I joined the Army after I attended coll...,i want to become an army what can i do to beco...
2,eb80205482e4424cad8f16bc25aa2d9c,acccbda28edd4362ab03fb8b6fd2d67b,eaa66ef919bc408ab5296237440e323f,cbd8f30613a849bf918aed5c010340be,"<p>Dear Priyanka,</p><p>Greetings! I have answ...",i want to become an army what can i do to beco...
3,4ec31632938a40b98909416bdd0decff,f2c179a563024ccc927399ce529094b5,1a6b3749d391486c9e371fbd1e605014,7e72a630c303442ba92ff00e8ea451df,<p>I work for a global company who values high...,will going abroad for your first job increase ...
4,2f6a9a99d9b24e5baa50d40d0ba50a75,2c30ffba444e40eabb4583b55233a5a4,5229c514000446d582050f89ebd4e184,17802d94699140b0a0d2995f30c034c6,I agree with Denise. Every single job I've had...,to become a specialist in business will i have...

In [240]:
def answerer_recommender(query_title, query_body):

    # preprocessing
    query = query_title + "\n" + query_body
    clean_query = text_cleaner(query)
    tokens =  TaggedDocument(words=clean_query.split(), tags=["101"])

    pretrained_doc2vec = doc2vec.Doc2Vec.load('my_doc2vec.model')
    # document_vector = pretrained_doc2vec.infer_vector(tokens)
    top500_past_query = pretrained_doc2vec.docvecs.most_similar(clean_query, topn=20)
    
    return top500_past_query

In [238]:
title = "What is the hardest obstacle to overcome when beginning in a workplace?"
body = "As technology is advancing at an alarming rate, what are the drawbacks that future students will face?"

In [242]:
query = title + "\n" + body
clean_query = text_cleaner(query)
clean_query

'what is the hardest obstacle to overcome when beginning in a as technology is advancing at an alarming what are the drawbacks that future students will'

In [261]:
tokens =  TaggedDocument(words=clean_query.split(), tags=["101"])
tokens[0][:10]

['what',
 'is',
 'the',
 'hardest',
 'obstacle',
 'to',
 'overcome',
 'when',
 'beginning',
 'in']